.timeline {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 50px;
}

.timeline__left {
  display: flex;
  justify-content: center;
  flex: 0.7;
}

.timeline__right {
  flex: 0.3;
}

.timeline__posts {
}
@media screen and (max-width: 900px) {
  .timeline {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 50px;
  }

  .timeline__left {
    display: flex;
    justify-content: center;
    flex: 1;
  }

  .timeline__right {
    display: none;
  }

  .timeline__posts {
  }
}
