.homepage__timeline {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 100px;
}
@media screen and (max-width: 900px) {
  .homepage__timeline {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
